.header{
    grid-area: header;
    background-color: transparent;
    width: 100%;
    height: 100%;

    font-size: 35pt;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    grid-area: footer;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.section{
    color: white;
    width: 100%;
    height: fit-content;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f282b;
    padding: 30px;

    font-size: 14pt;
    row-gap: 10px;
}
.section > legend{
    font-size: 20pt;
    margin-left: 10px;
    padding: 0px 10px;
}