.experience-entry{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #2f4b53;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.experience__description{
  resize: vertical;
  height: 100px;
}

.experience__delete{
  background-color: var(--button-careful-color);
  border-radius: 0px 0px 20px 20px;
}

.experience__add{
  background-color: var(--button-good-color);
  border-radius: 0px 0px 20px 20px;
}