.preview{
    grid-area: p-preview;
    position: relative;
    align-self: start;
    justify-self:end;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.preview::-webkit-scrollbar{
    display: none;
}