.preview{
    grid-area: p-preview;
    position: relative;
    align-self: start;
    justify-self:end;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.preview::-webkit-scrollbar{
    display: none;
}

.personal_section{
    width: 100%;
    height: 2in;
    background-color: var(--button-careful-color);
}
.experience_section{
    width: 100%;
    height: 7in;
    background-color: var(--button-good-color);
}
.education_section{
    width: 100%;
    height: 2in;
    background-color: var(--section-color);
}